Card

<div class="conetainer">
  <div class="pado-card card">
      <img [src]="imageUrl" alt="pado">
      <h3>{{title}}</h3>
  <p class="preco">{p}}</p>
  </div>
</div>


<!-- <div class="ui card">
    <a class="image" href="#">
      <img src="assets/Bolinho-de-pobre.jpeg">
    </a>
    <div class="content">
      <a class="header" href="#">Bolinho de Pobre</a>
      <div class="meta">
        <h3>Ingredientes</h3>
        <ul>
            <li>1 xícara (chá) de farinha de trigo</li>
            <li>1 pitada de sal</li>
            <li>1 ovo</li>
            <li>1 xícara (chá) de água</li>
            <li>1 colher (sopa) de queijo ralado</li>
            <li>Óleo para fritar</li>
        </ul>
        <h3>Modo de Preparo</h3>
        <ol>
            <li>Em uma vasilha misture a farinha de trigo, o sal, o ovo, a água e o queijo ralado.</li>
            <li>Misture bem até a massa ficar homogênea.</li>
            <li>Em uma frigideira coloque 2 dedos de óleo, quando estiver bem quente, despeje colheradas da massa para fritar.</li>
            <li>Pode ser frito em fogo alto.</li>
        </ol>
      </div>
    </div>
</div> -->



